/* ----------------------------------------- */
/* CHANGER WIDTH EN MAX-WIDTH */

/* FAUT FAIRE UNE SECTION POUR LES TRIANGLES */

/* align-items: center;
align-self: center;
align-content: center;
justify-content: center;
justify-self: center;
justify-items: center;
text-align: center; */

/* ----------------------------------------- */

@font-face {
    font-family: 'ChaumontScript';
    src: url('font/ChaumontScript-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'DinaChaumont';
    src: url('font/DinaChaumont-TextRegular.otf') format('opentype');
}

/* HTML BASE TYPE */
body{
    text-align: justify;
    min-width: 360px ;
}
.a{
    color:white;
    font-weight:bold;
}
.title{
    font-family: 'ChaumontScript';
    text-decoration: underline;
    background-color: #007D45;
    color: white;
    padding: 10px;
    color: white;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
}
.row{
    margin: 0px;
}
/* -------------------------------------- */
/* .laclass{
    width: 50%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: #fff;
    padding: 20px;
    position: relative;
    top: 20px;
    transition: top 1s;
}
.laclass:hover{
    top:0px
} */




/* div class */
header{
    background-color: #007d45cc;
    position: fixed;
    display: flex;
    width: 100%;
    height: 38px;
    font-family: 'DinaChaumont';
}
header .link-container{
    display: flex;
    width: 100%;
}
header .link{
    color: white;
    flex: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
header .language{
    margin: 4px;
}


.front{
    background-color: #007D45;
    padding-top: 67px;
    padding-bottom: 30px;
    text-align: center;
}
.front img{
    max-width: 600px;
    size-adjust: 90%;
}
.wrap{
    color:#111111;
    font-family: 'DinaChaumont';
}
.panoramun{
    text-align: center;
    transition: all 2s;
}
/* .panoramun:hover img{
    width: 80%
} */
.presentation .text{
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}
.chaumun2025{
    background-color: #007D45;
    color:#fff;
}
.chaumun2025 .text{
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    background-color: #006D45;
}
.links{
padding: none;
}

/* ========================== */
.secr{
    display: flex;
    justify-content: center;
}
.secr .container{
    display: flex;
    background-color: #007D45;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    width: max-content;
}
.secr .text{
    font-size: 30px;
    padding-left: 3%;
}
.secr img{
    border-radius: 50%;
    width: 20%;
}
.secr .text{
    align-content: center;
}
.secr .name{
    font-weight: bold;
    font-size: 30;
}
.secr .role{
    font-style: italic;
    font-size: 20;
}
.secr .saying{
    font-size: 20;
}
/* bureau */
.bureau{
    text-align: center;
    background-color: rgb(110, 0, 0);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bureau .row{
    width: 100%;
}
.bureau img{
    max-width: 200px;
    padding-right: 10px;
    padding-left: 10px;
}
.bureau #card{
    padding: 1%;
    /* display: flex; */
    justify-content: center;
}
.bureau .text{
    align-content: center;
}
.bureau .name{
    font-weight: bold;
    font-size: 30;
}
.bureau .role{
    font-style: italic;
} 



/* ========================= */
/* partenaires */
.partenaires{
    align-items: center;
}
.partenaires .row{
    width: 100%;
}
.partenaires img{
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 100%;
}
.partenaires #col{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


/* FOOTER */
footer{
    background-color: #111111;
    color: #fff;
    text-align: center;
    min-height: 300px;
    align-items: center;
    display: grid;
    padding: 2%;
}
footer img{
    max-width: 30%;
}
footer .row{
    text-align: center;
    align-items: center;
    max-width: 100%;
}
footer #col{
    padding: 2%;
    justify-content: center;
    display: grid;
}
footer .link{
    text-align: left;
}



/* #languageButton{
    border: none;
    background: none;
    padding-right: 10px;
} */
/* [class^="panoramun"]:hover [class^="zob"] {
    width: 1000px;
    color: rgb(255, 255, 255);
    font-size: 70%;
    justify-content: center;
    transition: all 2s ease-out;
} */