@font-face {
    font-family: 'ChaumontScript';
    src: url('ChaumontScript-Regular.otf') format('opentype');
}

/* HTML BASE TYPE */
body{
    display: block;
    margin: 0px;
    text-align: justify;
}
header{
    background-color: #007D45;
    color: #ffffff;
    text-align: center;
    font-family: 'ChaumontScript', sans-serif;
    font-size: x-large;
    padding-top: 10px;
    font-size: 50px;
}
footer{
    background-color: #111111;
    color: white;
    padding: 20px;
    display: flex;
}
a{
    /* text-decoration: none; */
    color:white
}




/* div class */
.toolbar{
    position: relative;
    right: 48%;
}
.content{
    color:#111111;
    padding: 20px;
}
.panoramun{
    margin: 20px;
}
.links{
    padding-left: 100px;
}
.links br{
    margin-bottom: 10px;
}