@font-face {
    font-family: "ChaumontScript";
    src: url("font/ChaumontScript-Regular.otf") format("opentype");
}
@font-face{
    font-family: "DinaChaumont";
    src: url("font/DinaChaumont-TextRegular.otf") format("opentype");

}


.menu{
    width: 250px;
    height: 350px;
    background-color: #333333B0;
    position: fixed;
    top: 0px;
    left: -250px;
    transition: 0.3s;
    padding-top: 55px;
}
.menu a{
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.menu a:hover{
    background-color: #555555B0;
}
.menu-btn{
    font-size: 20px;
    cursor: pointer;
    color: #333;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    position: fixed;
    z-index: 1;
}
/* .menu-btn:hover{
    background-color: #ccc;
} */


.wrap{
    font-family: "DinaChaumont";
}
.frontpage{
    background-color: #007D45;
    width: 100%;
    padding: 50px 100px;
}
.frontpage img{
    width: 50%;
    max-width: 400px;
    min-width: 150px;
}

#1{
    padding: 200px;
}